<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Guide to test</title>
      <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 80%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
      </style>
</head>
<body>
      <h1>Test Guide</h1>
      <table>
            <thead>
                <th>Description</th>
                <th>Link for Test</th>
            </thead>
            <tbody>
                  <tr>
                        <td>By Number [Correct number]</td>
                        <td>
                            <a target='__' href="http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/3">http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/3</a><br/>
                            <a target='__' href="http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/5">http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/5</a><br/>
                            <a target='__' href="http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/7">http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/7</a>
                        </td>
                  </tr>
                  <tr>
                        <td>By Number [Incorrect number]</td>
                        <td>
                            <a target='__' href="http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/100">http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/100</a>
                        </td>
                  </tr>
                  <tr>
                        <td>By Name [Correct name]</td>
                        <td>
                            <a target='__' href="http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/name/Antonette">http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/name/Antonette</a><br/>
                            <a target='__' href="http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/name/Karianne">http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/name/Karianne</a><br/>
                            <a target='__' href="http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/name/Leopoldo_Corkery">http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/name/Leopoldo_Corkery</a>
                        </td>
                  </tr>
                  <tr>
                        <td>By Name [Incorrect name]</td>
                        <td>
                            <a target='__' href="http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/name/HERCULES">http://usercontacts-env.eba-wq2fp6ia.ap-southeast-2.elasticbeanstalk.com/getusercontacts/name/HERCULES</a>
                        </td>
                  </tr>
            </tbody>
      </table>
</body>
</html>